<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link 
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
         rel="stylesheet"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
         crossorigin="anonymous">
        <link/>
        <link rel="stylesheet" href="style.css" />
        <title>Renan Viagens</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Renan Viagens</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cadastro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    </body>
    <body>

              
        <img src="https://a.travel-assets.com/findyours-php/viewfinder/images/res70/84000/84621-Paris.jpg" width="1400" height="500">
        
        <H2>Sobre:</H2>

        <p>A Renan Viagens surgiu no mercado a partir da união de dois profissionais experientes vindos de diferentes áreas: turismo e informação. A soma desses dois olhares conduziu a uma proposta de trabalho diferenciada, com o objetivo de oferecer um serviço não só com qualidade, mas com conteúdo. O sucesso de uma viagem se inicia na escolha do destino, no planejamento, por isso selecionamos os melhores colaboradores e produtos turísticos existentes no mercado e pesquisamos individualmente cada roteiro conforme o perfil do cliente.
        Nosso trabalho vai além de indicar um itinerário, com passagem aérea, hotéis, passeios e traslados. Nos dedicamos para que você possa tirar o melhor proveito da sua viagem, oferecendo informações e dicas que vão incrementar a sua experiência. Acreditamos que a única preocupação do viajante deve ser vivenciar, da melhor maneira, os momentos únicos propiciados pela viagem.</p>

        </body>

        <body>

            <h2>Cadastro:</h2>
            
            <form>
              <label for="fname">Nome:</label><br>
              <input type="text" id="fname" name="fname" value=""><br>
              <label for="lname">Cidade:</label><br>
              <input type="text" id="lname" name="lname" value="">
               <label for="Genero">Gênero:</label>
              <select name="Usuário" id="Usuário">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </form>
            <input type="submit" value="Enviar">
             
            </body>
        <body>
            <h2>Contato:</h2>
            <p>Você pode entrar em contato com a gente pelo telefone 99999999 ou através das redes sociais.</p>
        </body>
</html>